{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UFC</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-icons.css' %}">
</head>

<body>
{% include 'partials/_nav.html'%}

{%block index%}
{%endblock%}

{%block news%}
{%endblock%}

{%block events_oracle%}
{%endblock%}

<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
{% include 'partials/_footer.html'%}
</body>

</html>