{%extends 'base.html' %}
{%block events_oracle%}
<div class="container" style="padding-top: 32px;">
    <div class="row">
        <div class="col-md-6">
  <div class="main-content">
    <h2>Events</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>


  </div>
        </div>
        <div class="col-md-6">
    <div class="main-content">
    <h2>The Oracle</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
  </div>
        </div>
    </div>
</div>
<hr>
{%endblock%}