{%extends 'base.html' %}
{%block index%}
<section class="py-4 py-xl-5" style="margin-top: 100px;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h2 class="text-uppercase fw-bold mb-3">UFC Oracle<br>Where The Octagon Meets Analytics</h2>
                    <p class="mb-4">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 32px;">
    <div class="row">
        <div class="col-md-6">
  <div class="main-content">
    <h2>Events</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>


  </div>
        </div>
        <div class="col-md-6">
    <div class="main-content">
    <h2>The Oracle</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem eros. Integer at nibh vitae urna vehicula blandit a nec arcu. Integer at nibh vitae urna vehicula blandit a nec arcu.</p>
  </div>
        </div>
    </div>
</div>
<hr>
<div class="container py-4 py-xl-5">
<div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Latest News</h2>
    </div>
</div>
<div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
        <div class="p-4">
            <h4>Lorem libero donec</h4>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                <div>
                    <p class="fw-bold mb-0">John Smith</p>
                    <p class="text-muted mb-0">Erat netus</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-4">
            <h4>Lorem libero donec</h4>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                <div>
                    <p class="fw-bold mb-0">John Smith</p>
                    <p class="text-muted mb-0">Erat netus</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-4">
            <h4>Lorem libero donec</h4>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                <div>
                    <p class="fw-bold mb-0">John Smith</p>
                    <p class="text-muted mb-0">Erat netus</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}

